modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "bot"

[[workflows.workflow]]
name = "bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Anurag.js"

[workflows.workflow.metadata]
outputType = "console"
